<template>
  <div class="mt-7 rounded-lg shadow max-w-md mx-auto bg-white text-center">
    <p class="mt-7 text-7xl fond-bold">{{ error.statusCode }}</p>
    <p class="mt-7 text-6xl">Oooops.</p>
    <p class="mt-7">{{ error.message }}</p>
    <img src="~/assets/img/error.gif" alt="">
    <button class="border px-9 py-3 hover:bg-green-300 hover:text-white hover:font-bold rounded-[10px] mb-5" @click="handleCleareError">Home ...</button>
  </div>
</template>

<script setup lang="ts">
  defineProps(['error'])
  
  const handleCleareError = () => clearError({redirect: '/'})
</script>

<style>
  
</style>