<template>
    <div>
        <div class="container mx-auto">
            <div class="flex items-center justify-between mb-[20px] mt-[36px]">
                <h2 class="font-semibold  text-[32px] ">Агенство в цифрах</h2>
                <ul class="flex items-center gap-[24px]">
                    <li v-for="(item, index) in years" :key="index" :class="[{'text-black': item.active}]" class="cursor-pointer text-[24px] text-[#00000033]">{{ item.year }}</li>
                </ul>
            </div>
            
            <div class="grid grid-cols-4 gap-[24px]">
                <div class="p-[24px] rounded-[8px] border">
                    <img src="~/assets/img/people.svg" alt="">
                    <div >
                        <h4 class="font-bold montserrat-700 text-[56px]">4,6 <small class="text-[32px]">тыс</small> </h4>
                        <p class="montserrat-500 ">Социальных работников</p>
                    </div>
                </div>

                <div class="p-[24px] rounded-[8px] border">
                    <img src="~/assets/img/dua.svg" alt="">
                    <div >
                        <h4 class="font-bold montserrat-700 text-[56px]">2,2 <small class="text-[32px]">тыс</small> </h4>
                        <p class="montserrat-500 ">Поставщиков соцуслуг</p>
                    </div>
                </div>

                <div class="p-[24px] rounded-[8px] border">
                    <img src="~/assets/img/heard.svg" alt="">
                    <div >
                        <h4 class="font-bold montserrat-700 text-[56px]">895</h4>
                        <p class="montserrat-500 ">Услуг оказано</p>
                    </div>
                </div>

                <div class="p-[24px] rounded-[8px] border">
                    <img src="~/assets/img/cash-big.svg" alt="">
                    <div >
                        <h4 class="font-bold montserrat-700 text-[56px]">984,2 <small class="text-[32px]">млн</small> </h4>
                        <p class="montserrat-500 ">Выплачено пособий</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">

    interface Year{
        id: Number,
        year: Number|String,
        active: Boolean
    }

    const years:Array<Year> = [
        { id: 1, year: 2021, active: false },
        { id: 2, year: 2022, active: false },
        { id: 3, year: 2023, active: true  },
    ]

</script>

<style>
    .d{
        color: #00000033;
    }
</style>