<template>
    <div class="">
        <div class="container mx-auto">
            <h2 class="font-semibold text-[32px] mt-[36px] mb-[20px]">Полезный материал</h2>
            <div class="grid grid-cols-3 gap-4">
                <div class="p-[24px] h-[260px] flex flex-col gap-[20px] rounded-[8px] bg-[#00000008]">
                    <div>
                        <img src="~/assets/img/home.svg" alt="">
                    </div>
                   <div>
                        <p class="font-bold text-[20px] mb-[4px]">
                            Обеспечение жильем выпускников государственных детских учреждений
                        </p>
                        <p class="font-medium text-[14px]">
                            Оставшихся без попечения родителей, в социальном учреждении
                        </p>
                   </div>
                </div>
                <div class="p-[24px] h-[260px] flex flex-col gap-[20px] rounded-[8px] bg-[#00000008]">
                    <div>
                        <img src="~/assets/img/disabled.svg" alt="">
                    </div>
                   <div>
                        <p class="font-bold text-[20px] mb-[4px]">
                            Приём в учреждения социального обслуживания
                        </p>
                        <p class="font-medium text-[14px]">
                            Лиц, не способных к самостоятельной деятельности в связи с инвалидностью
                        </p>
                   </div>
                </div>
                <div class="p-[24px] h-[260px] flex flex-col gap-[20px] rounded-[8px] bg-[#00000008]">
                    <div>
                        <img src="~/assets/img/circle.svg" alt="">
                    </div>
                   <div>
                        <p class="font-bold text-[20px] mb-[4px]    ">
                            Помощь пострадавшим от бытового насилия и торговли людьми
                        </p>
                        <p class="font-medium text-[14px]">
                            Реабилитация пострадавших
                        </p>
                   </div>
                </div>
                <div class="p-[24px] h-[260px] flex flex-col gap-[20px] rounded-[8px] bg-[#00000008]">
                    <div>
                        <img src="~/assets/img/dua.svg" alt="">
                    </div>
                   <div>
                        <p class="font-bold text-[20px] mb-[4px]">
                            Приём молодежи с инвалидностью
                        </p>
                        <p class="font-medium text-[14px]">
                            В профессионально-реабилитационные центры
                        </p>
                   </div>
                </div>
                <div class="p-[24px] h-[260px] flex flex-col gap-[20px] rounded-[8px] bg-[#00000008]">
                    <div>
                        <img src="~/assets/img/medal.svg" alt="">
                    </div>
                   <div>
                        <p class="font-bold text-[20px] mb-[4px]">
                            Присвоение звания
                        </p>
                        <p class="font-medium text-[14px]">
                            «Ветерана труда» и удостоверения «Ветерана труда»
                        </p>
                   </div>
                </div>
                <div class="p-[24px] row-span-2 flex flex-col gap-[20px] rounded-[8px] bg-[#65996133]">
                    
                   <div>
                        <h3 class="font-bold text-[#659961] text-[32px] ">
                            Всё о социальном пособии
                        </h3>
                        <p class="font-medium text-[14px]">
                            Для малоимущих семей
                        </p>
                   </div>
                   <div>
                        <img src="~/assets/img/family.png" alt="">
                    </div>
                </div>

                <div class="p-[24px] h-[260px] flex flex-col gap-[20px] rounded-[8px] bg-[#00000008]">
                    <div>
                        <img src="~/assets/img/heard.svg" alt="">
                    </div>
                   <div>
                        <p class="font-bold text-[20px] mb-[4px]">
                            Приют и учреждение социальной реабилитации
                        </p>
                        <p class="font-medium text-[14px]">
                            Для лиц из уязвимых групп населения
                        </p>
                   </div>
                </div>

                <div class="p-[24px] h-[260px] flex flex-col gap-[20px] rounded-[8px] bg-[#00000008]">
                    <div>
                        <img src="~/assets/img/top.svg" alt="">
                    </div>
                   <div>
                        <p class="font-bold text-[20px] mb-[4px]">
                            Оказание социально-бытовых услуг
                        </p>
                        <p class="font-medium text-[14px]">
                            оказываемая одиноким пожилым людям, престарелым супругам, гражданам с ограниченными возможностями
                        </p>
                   </div>
                </div>
            </div>
        </div>
        
    </div>
</template>

<script setup lang="ts">

</script>

<style></style>