<template>
    <div class="py-[32px] mt-[56px]">
        <div class="container mx-auto flex justify-between">
            <div class="flex flex-col justify-between ">
                <NuxtLink to="/" class="flex items-center gap-[13px] text-[11px] font-bold leading-4 uppercase">
                    <img src="~/assets/img/logo-footer.svg" alt="">
                    <div>
                        <span>Национальное агентство <br> социальной защиты</span>
                        <br>
                        <p class=" font-medium text-[6px] opacity-50">при президенте республики узбекистан</p>
                    </div>
                </NuxtLink>
                <div class="flex flex-col gap-[24px]">
                    <p class="flex cursor-pointer items-center gap-[15px] text-[16px] font-semibold" >
                        <img src="~/assets/img/call-footer.svg" alt="">
                        <span class="text-[24px]">107</span>
                    </p>
                    <div class="flex items-center gap-[12px]">
                        <img src="~/assets/img/instagram.svg" alt="">
                        <img src="~/assets/img/facebook.svg" alt="">
                        <img src="~/assets/img/telegram.svg" alt="">
                    </div>
                    <p class="text-[12px] opacity-50">
                        Все материалы сайта доступны по лицензии. <br>
                        Официальный интернет-ресурс <br>
                        © 2023 “НАСЗ”
                    </p>
                </div>
            </div>
            <div class="flex gap-[30px]">
                <ul class="flex flex-col gap-[12px]">
                    <li><a class="tetx-[14px] font-bold " href="#!">Агентство</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Об агентстве</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Руководство</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Деятельность агентства</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Структура</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Центральный аппарат</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Областные управления</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Центры "Инсон"</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Общественный совет</a></li>
                </ul>
                <ul class="flex flex-col gap-[12px]">
                    <li><a class="tetx-[14px] font-bold " href="#!">Пресс-служба</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Связаться с Пресс- службой</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Новости, Объявления</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Тендеры агентства</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Доклады</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Отчеты</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Фотогалерея</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Видеогалерея"</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Процедура аккредитации</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Опросник</a></li>
                </ul>
                <ul class="flex flex-col gap-[12px]">
                    <li><a class="tetx-[14px] font-bold " href="#!">Онлайн приемная</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Виртуальная приемная</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">График приема</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Отправить обращение</a></li>
                </ul>
                <ul class="flex flex-col gap-[12px]">
                    <li><a class="tetx-[14px] font-bold " href="#!">Нужна помощь</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Call-центр</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Вызов соц работника</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Подать заявку</a></li>
                    <li><a class="tetx-[14px] font-medium" href="#!">Полезные ссылки и ресурсы</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">

</script>

<style>
    .salom{
        font-family: 'Montserrat';
        font-weight: 700;
    }
</style>