<template>
    <div class="py-[15px] sticky top-0 bg-white z-[100]">
        <div class="container mx-auto flex items-center justify-between">
            <div class="flex items-center gap-[30px]">
                <p>Нормативна-правовые акты</p>
                <p>Открытые данные</p>
            </div>
            <div class="flex items-center gap-[30px]">
                <button class="flex items-center gap-[15px]" @click="forDiff">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M2.5 10.8333C5.5 4.16668 14.5 4.16668 17.5 10.8333M10 14.1667C9.6717 14.1667 9.34661 14.102 9.04329 13.9764C8.73998 13.8507 8.46438 13.6666 8.23223 13.4344C8.00009 13.2023 7.81594 12.9267 7.6903 12.6234C7.56466 12.3201 7.5 11.995 7.5 11.6667C7.5 11.3384 7.56466 11.0133 7.6903 10.71C7.81594 10.4067 8.00009 10.1311 8.23223 9.89891C8.46438 9.66676 8.73998 9.48261 9.04329 9.35698C9.34661 9.23134 9.6717 9.16668 10 9.16668C10.663 9.16668 11.2989 9.43007 11.7678 9.89891C12.2366 10.3678 12.5 11.0036 12.5 11.6667C12.5 12.3297 12.2366 12.9656 11.7678 13.4344C11.2989 13.9033 10.663 14.1667 10 14.1667Z" stroke="#659961" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    Версия для слабовидящих
                </button>
                <LazyLanguageSwitcher/>
            </div>
        </div>
    </div>
    
</template>

<script setup lang="ts">
    const forDiff = () =>{
        if (document.querySelector('body')?.classList.contains('grayscale')) {
            document.querySelector('body')?.classList.remove('grayscale')
        } else {
            document.querySelector('body')?.classList.add('grayscale')  
        }
    }
</script>

<style>
    
</style>