<template>
    <div>
        <div class="container pt-[80px] h-[550px] rounded-[30px] mx-auto bg-[#659961]">
            <LazySwipers />
        </div>
    </div>
</template>

<script setup lang="ts">

</script>

<style>
    
</style>