<template>
    <div>
        <div class="container mx-auto">
            <div class="flex items-center justify-between mb-[20px] mt-[36px]">
                <h2 class="font-semibold  text-[32px] ">Интерактивная панель</h2>
            </div>
            
            <div class="grid grid-cols-3 gap-[24px]">
                <div class="p-[24px] flex flex-col gap-[24px] rounded-[8px] border">
                    <div class="flex item-center gap-[15px]">
                        <div class="w-[50px] h-[50px] flex items-center justify-center rounded-full bg-[#659961]">
                            <img src="~/assets/img/cash.svg" alt="">
                        </div>
                        
                        <h4 class="font-bold montserrat-700 p-0 m-0 text-[20px]">Социальные <br> пособия и помощь</h4>
                    </div>
                    <ul class="flex flex-col gap-[10px]">
                        <li class="flex items-center justify-between">    
                            <span>Перечень категорий</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="flex items-center justify-between">    
                            <span>Информация о выплатах</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="flex items-center justify-between">    
                            <span>Форма заявки</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                    </ul>
                </div>
                
                <div class="p-[24px] flex flex-col gap-[24px] rounded-[8px] border">
                    <div class="flex item-center gap-[15px]">
                        <div class="w-[50px] h-[50px] flex items-center justify-center rounded-full bg-[#659961]">
                            <img src="~/assets/img/category.svg" alt="">
                        </div>
                        
                        <h4 class="font-bold montserrat-700 p-0 m-0 text-[20px]">Социальные <br> пособия и помощь</h4>
                    </div>
                    <ul class="flex flex-col gap-[10px]">
                        <li class="flex items-center justify-between">    
                            <span>Перечень категорий</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="flex items-center justify-between">    
                            <span>Информация о выплатах</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="flex items-center justify-between">    
                            <span>Форма заявки</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                    </ul>
                </div>

                <div class="p-[24px] flex flex-col gap-[24px] rounded-[8px] border">
                    <div class="flex item-center gap-[15px]">
                        <div class="w-[50px] h-[50px] flex items-center justify-center rounded-full bg-[#659961]">
                            <img src="~/assets/img/security.svg" alt="">
                        </div>
                        
                        <h4 class="font-bold montserrat-700 p-0 m-0 text-[20px]">Социальные <br> пособия и помощь</h4>
                    </div>
                    <ul class="flex flex-col gap-[10px]">
                        <li class="flex items-center justify-between">    
                            <span>Для волонтёров</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="flex items-center justify-between">    
                            <span>Для спонсоров</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="flex items-center justify-between">    
                            <span>Список проектов и программ</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                        <li class="flex items-center justify-between">    
                            <span>Список лиц нуждающихся в помощи</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none">
                                <path d="M2.83337 10.0001H17.8334M17.8334 10.0001L10.75 2.91675M17.8334 10.0001L10.75 17.0834" stroke="#659961" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">

</script>

<style>
</style>