<template>
  <div>
    <div class="container mx-auto">
      <div class="flex items-center justify-between mb-[20px] mt-[36px]">
        <h2 class="font-semibold  text-[32px] ">Международные организации</h2>
      </div>
      
      <Swiper
        :loopFillGroupWithBlank="true"
        :slides-per-view="4"
        :loop="true"
        :initialSlide="0"
        :autoplay="{
          delay: 100
        }"
        :enabled:="true"
        :observeSlideChildren="true"
        :space-between="24"
        
      >
        <SwiperSlide >
          <div class="w-full flex items-center justify-center">
            <img src="~/assets/img/labor.png" alt="">
          </div>
        </SwiperSlide>
        <SwiperSlide >
          <div class="w-full flex items-center justify-center">
            <img src="~/assets/img/unicef.png" alt="">
          </div>
        </SwiperSlide>
        <SwiperSlide >
          <div class="w-full flex items-center justify-center">
            <img src="~/assets/img/world-bank.png" alt="">
          </div>
        </SwiperSlide>
        <SwiperSlide >
          <div class="w-full flex items-center justify-center">
            <img src="~/assets/img/unfpa.png" alt="">
          </div>
        </SwiperSlide>
      
      </Swiper>
      
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style>
  
</style>