<template>
    <div class=" relative font-500  text-[12px] text-white language flex items-center uppercase  items-center">
        <button @click="toggleLang" class="flex items-center bg-[#659961] language-select uppercase px-[10px] py-[5px]">
            {{ locale }} 
            <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>
        <ul class="absolute bg-[#659961] shadow-2xl w-full flex flex-col items-center uppercase rigth-0  gap-[10px] language-items">
            <li v-for="(item, index) in locales.filter(el=>el.code !== locale)" :key="index" class="w-full" >
                <NuxtLink class="flex justify-center" :to="switchLocalePath(item.code)">{{ item.code }}</NuxtLink>
            </li>
        </ul>
    </div>
</template>

<script setup lang="ts">
    const { locales, locale } = useI18n() 

    const toggleLang = () =>{
        
        if(!document.querySelector('.language-select')?.classList.contains('active')){
            document.querySelector('.language-select')?.classList.add('active')
            document.querySelector('.language-items')?.classList.add('active')
        } else {
            document.querySelector('.language-select')?.classList.remove('active')
            document.querySelector('.language-items')?.classList.remove('active')
        }
    }
</script>

<style>
    .language {
        width: max-content;
    }
    .language-select {
        border-radius: 100px;
    }

    .language:hover .language-select {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-left-radius: 14px !important;
        border-top-right-radius: 14px !important;
    }

    .language-select.active {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border-top-left-radius: 14px !important;
        border-top-right-radius: 14px !important;
    }

    .language-items {
        opacity: 0;
        transform: translateY(40%);
        transition: 0.1s linear;
        z-index: -100;
        cursor: pointer;
    }

    .language:hover .language-items{
        opacity: 1;
        transform: translateY(65%);
        padding-bottom: 10px;
        border-bottom-left-radius: 14px !important;
        border-bottom-right-radius: 14px !important;
        z-index: 5;
        padding-top: 5px;
    }

    .language-items.active{
        opacity: 1;
        transform: translateY(65%);
        padding-bottom: 10px;
        border-bottom-left-radius: 14px !important;
        border-bottom-right-radius: 14px !important;
        z-index: 5;
        padding-top: 5px;
    }

</style>