<template>
    <div class="w-full absolute">
        <div class="container py-[15px] px-[30px] flex items-center justify-between mx-auto">
            <div>
                <NuxtLink to="/" class="flex items-center gap-[13px] text-[11px] font-bold text-white leading-4 uppercase">
                    <img src="~/assets/img/logo.svg" alt="">
                    <div>
                        <span>Национальное агентство <br> социальной защиты</span>
                        <br>
                        <p class=" font-medium text-[6px] opacity-50">при президенте республики узбекистан</p>
                    </div>
                </NuxtLink>
            </div>
            <ul class="flex text-white gap-[30px]">
                <li v-for="(item, index) in arr" :key="index">
                    <NuxtLink class="text-[14px] cursor-pointer" > {{ item.name }} </NuxtLink>
                </li>
                <li>

                </li>
            </ul>
        </div>
    </div>
</template>

<script setup lang="ts">
    interface Bar {
        id: Number,
        name: String,
        link: string
    }

    const arr:Array<Bar> = [
        { id: 1, name: 'Агентство', link: 'agent' },
        { id: 2, name: 'Пресс-служба', link: 'press-service' },
        { id: 3, name: 'Онлайн приёмная', link: 'online' },
        { id: 4, name: 'Вакансии', link: 'vacancy' },
        { id: 5, name: 'Вопросы и ответы', link: 'faq' },
    ]
</script>

<style>
    
</style>