<template>
  <div>
    <div class="container mx-auto">
      <div class="flex items-center justify-between mb-[20px] mt-[36px]">
        <h2 class="font-semibold  text-[32px] ">Новости</h2>
      </div>
      
      <div class="grid grid-cols-3 gap-[24px]">
        <div class="flex flex-col gap-[16px]">
            <div class="flex item-center gap-[15px]">
              <div class="bg-[#659961] flex flex-col gap-[18px] items-center justify-center w-full h-[260px] rounded-[8px]">
                <img src="~/assets/img/logo.svg" alt="">
                <div class="text-center">
                  <span class="text-white uppercase font-bold">Национальное агентство <br> социальной защиты</span>
                  <br>
                  <p class="text-white uppercase font-medium text-[8px] opacity-50">при президенте республики узбекистан</p>
                </div>
              </div>
            </div>
          <div>
            <p class="leading-[150%] font-medium text-[16px] montserrat-500">Национальное агентство социальной защиты объявляет 1-й этап конкурса</p>
            <output class="font-medium text-[16px] montserrat-500 opacity-50">7 июля, 2023</output>
          </div>
        </div>
        <div class="flex flex-col gap-[16px]">
            <div class="flex item-center gap-[15px]">
              <div class="bg-[#659961] gap-[18px] overflow-hidden w-full h-[260px] rounded-[8px]">
                <img src="~/assets/img/street.png" alt="" class="w-full object-cover">
              </div>
            </div>
          <div>
            <p class="leading-[150%] font-medium text-[16px] montserrat-500">Национальное агентство социальной защиты объявляет 1-й этап конкурса</p>
            <output class="font-medium text-[16px] montserrat-500 opacity-50">7 июля, 2023</output>
          </div>
        </div>
        <div class="flex flex-col gap-[16px]">
            <div class="flex item-center gap-[15px]">
              <div class="bg-[#659961] gap-[18px] overflow-hidden w-full h-[260px] rounded-[8px]">
                <img src="~/assets/img/meeting.png" alt="" class="w-full object-cover">
              </div>
            </div>
          <div>
            <p class="leading-[150%] font-medium text-[16px] montserrat-500">В рамках инициативы «Местное управление, дружественное к детям и молодежи»</p>
            <output class="font-medium text-[16px] montserrat-500 opacity-50">7 июля, 2023</output>
          </div>
        </div>
        <div class="flex flex-col gap-[16px]">
            <div class="flex item-center gap-[15px]">
              <div class="bg-[#659961] gap-[18px] overflow-hidden w-full h-[260px] rounded-[8px]">
                <img src="~/assets/img/hands.png" alt="" class="w-full object-cover">
              </div>
            </div>
          <div>
            <p class="leading-[150%] font-medium text-[16px] montserrat-500">Услуги Агентства социальной защиты населению Республики Узбекистан</p>
            <output class="font-medium text-[16px] montserrat-500 opacity-50">7 июля, 2023</output>
          </div>
        </div>
        <div class="flex flex-col gap-[16px]">
            <div class="flex item-center gap-[15px]">
              <div class="bg-[#659961] gap-[18px] overflow-hidden w-full h-[260px] rounded-[8px]">
                <img src="~/assets/img/food.png" alt="" class="w-full object-cover">
              </div>
            </div>
          <div>
            <p class="leading-[150%] font-medium text-[16px] montserrat-500">Агентство социальной защиты должно стать фабрикой возможностей</p>
            <output class="font-medium text-[16px] montserrat-500 opacity-50">7 июля, 2023</output>
          </div>
        </div>
        <div class="flex flex-col gap-[16px]">
            <div class="flex item-center gap-[15px]">
              <div class="bg-[#659961] gap-[18px] overflow-hidden w-full h-[260px] rounded-[8px]">
                <img src="~/assets/img/happiness.png" alt="" class="w-full object-cover">
              </div>
            </div>
          <div>
            <p class="leading-[150%] font-medium text-[16px] montserrat-500">Какие изменения ждут сферу соцзащиты в Узбекистане</p>
            <output class="font-medium text-[16px] montserrat-500 opacity-50">7 июля, 2023</output>
          </div>
        </div>
      </div>
      
      <div class="mt-[32px]">
        <button class="flex w-full items-center gap-[10px] py-[13px] bg-[#6599611a] justify-center" >
          <span> Показать все </span>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M3 12H21M21 12L12.5 3.5M21 12L12.5 20.5" stroke="#659961" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style>
  .d{
    background: #6599611a;
;
  }
</style>