<template>
  <div>
    <div class="container mx-auto">
      <div class="flex items-center justify-between mb-[20px] mt-[36px]">
        <h2 class="font-semibold  text-[32px] ">Нормативна-правовые акты</h2>
      </div>
      <div class="grid grid-cols-3 gap-[24px]">
        <div class="p-[24px] flex flex-col items-start gap-[15px] h-[160px] bg-[#00000008] rounded-[8px]">
          <img src="~/assets/img/normative.svg" alt="">
          <p class="montserrat-500"> Законы Республики Узбекистан </p>
        </div>
        <div class="p-[24px] flex flex-col items-start gap-[15px] h-[160px] bg-[#00000008] rounded-[8px]">
          <img src="~/assets/img/normative.svg" alt="">
          <p class="montserrat-500"> Указы и Постановления Президента Республики Узбекистан </p>
        </div>
        <div class="p-[24px] flex flex-col items-start gap-[15px] h-[160px] bg-[#00000008] rounded-[8px]">
          <img src="~/assets/img/normative.svg" alt="">
          <p class="montserrat-500"> Постановления Кабинета Министров Республики Узбекистан </p>
        </div>
        <div class="p-[24px] flex flex-col items-start gap-[15px] h-[160px] bg-[#00000008] rounded-[8px]">
          <img src="~/assets/img/normative.svg" alt="">
          <p class="montserrat-500"> Нормативно-правовые акты, зарегистрированные в Министерстве юстиции Республики Узбекистан </p>
        </div>
        <div class="p-[24px] flex flex-col items-start gap-[15px] h-[160px] bg-[#00000008] rounded-[8px]">
          <img src="~/assets/img/normative.svg" alt="">
          <p class="montserrat-500"> Противодействие коррупции </p>
        </div>
        <div class="p-[24px] flex flex-col items-start gap-[15px] h-[160px] bg-[#00000008] rounded-[8px]">
          <img src="~/assets/img/normative.svg" alt="">
          <p class="montserrat-500"> Cтандарты предоставления социальных услуг </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style>
  
</style>