<template>
    <div>
        <div class="container mt-[120px] flex items-end justify-around h-[270px] mx-auto rounded-[8px] bg-[#659961]">
            <div class="h-full flex flex-col justify-evenly">
                <h4 class="text-white text-[42px] font-semibold">
                    <span class="text-[#659961] bg-white px-1 me-2 rounded ">Пособие</span>
                    <span>на детей и <br> беременных женщин</span>
                </h4>


                <NuxtLink class="flex cursor-pointer items-center gap-[15px] text-white text-[16px] font-semibold" >
                    <span>Узнать больше</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <path d="M3.5 12H21.5M21.5 12L13 3.5M21.5 12L13 20.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </NuxtLink>

            </div>

            <div class="">
                <img src="~/assets/img/pregnant.png" alt="" class="">
            </div>
        </div>
    </div>
</template>

<script setup lang="ts">

</script>

<style>
    
</style>