<template>
  <div>
    <div class="container mt-[56px] flex items-end justify-around py-[18px] mx-auto  rounded-[8px] bg-[#659961]">
      <div class="h-full flex flex-col gap-[44px] justify-evenly">
        <div class="flex flex-col gap-[12px]">
          <h4 class="text-white text-[42px] leading-[50px] font-semibold">Круглосуточная служба <br> поддержки и помощи</h4>
          <p class="text-white text-[20px] font-medium">Позвоните нам по короткому номеру или напишите <br> сообщение через чат-поддержки</p>
        </div>
        <p class="flex cursor-pointer items-center gap-[15px] text-white text-[16px] font-semibold" >
          <img src="~/assets/img/call.svg" alt="">
          <span class="text-[42px]">0012</span>
        </p>
      </div>

      <div>
        <img src="~/assets/img/help-child.png" alt="" class="">
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">

</script>

<style>
  
</style>