<template>
  <div>
    <div class="container mx-auto">
      <div class="flex items-center justify-between mb-[20px] mt-[36px]">
        <h2 class="font-semibold  text-[32px] ">Новости</h2>
      </div>
      <div class="grid grid-cols-4 gap-[24px]">
        <div class="p-[25px] flex flex-col items-center bg-[#00000008] rounded-[8px] justify-center gap-[12px]">
          <img src="~/assets/img/flag.png" alt="">
          <p class="font-semibold text-[12px] uppercase text-center">O‘zbekiston Respublikasi Prezidentining matbuot xizmati</p>
        </div>
        <div class="p-[25px] flex flex-col items-center bg-[#00000008] rounded-[8px] justify-center gap-[12px]">
          <img src="~/assets/img/flag.png" alt="">
          <p class="font-semibold text-[12px] uppercase text-center">O‘zbekiston Respublikasining hukumat portali</p>
        </div>
        <div class="p-[25px] flex flex-col items-center bg-[#00000008] rounded-[8px] justify-center gap-[12px]">
          <img src="~/assets/img/flag.png" alt="">
          <p class="font-semibold text-[12px] uppercase text-center">O‘zbekiston Respublikasi oliy majlisining senati</p>
        </div>
        <div class="p-[25px] flex flex-col items-center bg-[#00000008] rounded-[8px] justify-center gap-[12px]">
          <img src="~/assets/img/flag.png" alt="">
          <p class="font-semibold text-[12px] uppercase text-center">O‘zbekiston Respublikasi oliy majlisining qonunchilik palatasi</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

</script>

<style>
  
</style>