<template>
    <Swiper
        :slides-per-view="1"
        :space-between="100"
        :grab-cursor="true"
        :loop="true"
        :effect="'fade'"
        :autoplay="{
            delay: 8000,
            disableOnInteraction: true,
        }"
        :centered-slides="true"
    >
        
        <SwiperSlide>
            <div class="flex items-center  justify-around px-[30px]">
                <div class="flex flex-col gap-[30px] ">
                    <h1 class="font-semibold text-[42px] tracking-normal text-center leading-[48px] text-white">
                        Удобный и оперативный <br> доступ населения к услугам <br> национального агентства
                    </h1>
                    <ul class="flex gap-[15px]">
                        <li class="w-[124px] flex flex-col items-center gap-[10px] justify-center">
                            <img src="~/assets/img/cash.svg" alt="">
                            <p class="text-center text-white font-semibold text-[14px] leading-[20px]">Социальные пособия</p>
                        </li>
                        <li class="w-[124px] flex flex-col items-center gap-[10px] justify-center">
                            <img src="~/assets/img/headphone.svg" alt="">
                            <p class="text-center text-white font-semibold text-[14px] leading-[20px]">Социальная помощь</p>
                        </li>
                        <li class="w-[124px] flex flex-col items-center gap-[10px] justify-center">
                            <img src="~/assets/img/category.svg" alt="">
                            <p class="text-center text-white font-semibold text-[14px] leading-[20px]">Социальные услуги</p>
                        </li>
                        <li class="w-[124px] flex flex-col items-center gap-[10px] justify-center">
                            <img src="~/assets/img/security.svg" alt="">
                            <p class="text-center text-white font-semibold text-[14px] leading-[20px]">Для желающих помочь</p>
                        </li>
                    </ul>   
                </div>
                <div>
                    <img src="~/assets/img/help.png" alt="">
                </div>
            </div>
        </SwiperSlide>

        <SwiperSlide>
            <div class="flex items-center justify-around px-[30px]">
                <div class="flex flex-col gap-[30px] ">
                    <h1 class="font-semibold text-[42px] tracking-normal text-center leading-[48px] text-white">
                        Удобный и оперативный <br> доступ населения к услугам <br> национального агентства
                    </h1>
                    <ul class="flex gap-[15px]">
                        <li class="w-[124px] flex flex-col items-center gap-[10px] justify-center">
                            <img src="~/assets/img/cash.svg" alt="">
                            <p class="text-center text-white font-semibold text-[14px] leading-[20px]">Социальные пособия</p>
                        </li>
                        <li class="w-[124px] flex flex-col items-center gap-[10px] justify-center">
                            <img src="~/assets/img/headphone.svg" alt="">
                            <p class="text-center text-white font-semibold text-[14px] leading-[20px]">Социальная помощь</p>
                        </li>
                        <li class="w-[124px] flex flex-col items-center gap-[10px] justify-center">
                            <img src="~/assets/img/category.svg" alt="">
                            <p class="text-center text-white font-semibold text-[14px] leading-[20px]">Социальные услуги</p>
                        </li>
                        <li class="w-[124px] flex flex-col items-center gap-[10px] justify-center">
                            <img src="~/assets/img/security.svg" alt="">
                            <p class="text-center text-white font-semibold text-[14px] leading-[20px]">Для желающих помочь</p>
                        </li>
                    </ul>   
                </div>
                <div>
                    <img src="~/assets/img/help.png" alt="">
                </div>
            </div>
        </SwiperSlide>
        
    </Swiper>
</template>
<script setup lang="ts">

</script>

<style>
    
</style>