@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Montserrat' !important;
}

.page-enter-active,
.page-leave-active {
    transition: all 1s;
}
.page-enter-from,
.page-leave-to {
    opacity: 0;
    filter: blur(1rem);
}

.montserrat-400{
    font-family: 'Montserrat' !important;
    font-weight: 400;
}

.montserrat-500{
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
}

.montserrat-600{
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
}

.montserrat-400{
    font-family: 'Montserrat' !important;
    font-weight: 700 !important;
}