<template>
    <div>
        <LazyHeader />

        <LazyNavbar />
        <slot />
        <LazyFooter />
    </div>
</template>

<script setup lang="ts">
</script>

<style scoped>
    .page-enter-active,
    .page-leave-active {
        transition: all 0.3s;
    }
    .page-enter-from,
    .page-leave-to {
        opacity: 0;
        filter: blur(10px);
    }
</style>