<template>
    <div>
        <LazyHome />
        <LazyBenefit />
        <LazyPregnant />
        <LazyAgent />
        <LazyInteractive />
        <LazyNews />
        <LazyService />
        <LazyInternational />
        <LazyNormative />
        <LazySupport />
    </div>
     
</template>

<script setup lang="ts">

</script>

<style>
    .page-enter-active,
    .page-leave-active {
        transition: all 0.3s linear;
    }
    .page-enter-from,
    .page-leave-to {
        opacity: 0;
        filter: blur(1rem);
    }

</style>